# LaTeX 補助・一時ファイル
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.xml
*.gz
*.toc
*.xmpi

# エラーログ関連
*ERROR
*.err
*.stderr

# その他の一時ファイル
*.aux
*.synctex.gz
*.run.xml

# projects フォルダ内の各プロジェクトの src 以下の全フォルダを除外
projects/*_project/src/*/